body { background: #669cb7; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 22px; display: flex; }
.block-order-0 { color: #72e4fa; font-size: 17px; margin-bottom: 5px; }
.block-config-1 { color: #ddf510; font-size: 12px; margin-bottom: 5px; }
.block-order-2 { color: #ba137e; font-size: 18px; margin-bottom: 5px; }
.block-notify-3 { color: #fdb810; font-size: 15px; margin-bottom: 5px; }
.block-session-4 { color: #d87a75; font-size: 15px; margin-bottom: 5px; }
.block-auth-5 { color: #16690e; font-size: 13px; margin-bottom: 5px; }